---
const items = [
  {
    institution: "Model Engineering College, Thrikkakara",
    degree: "B.Tech in Computer Science and Engineering",
    duration: "2021-2025",
    logo: {
      url: "https://www.mec.ac.in",
      src: "/assets/logos/mec.png",
      alt: "Model Engineering College logo",
    },
  },
  {
    institution: "TD HSS, Thuravoor",
    degree: "Higher Secondary Education",
    duration: "2019-2021",
    percentage: "97.8%",
    logo: {
      url: "",
      src: "/assets/logos/tdhss.png",
      alt: "TD HSS Thuravoor logo",
    },
  },
  {
    institution: "Kendriya Vidyalaya No.1, Kochi",
    degree: "Matriculation",
    duration: "2009-2019",
    percentage: "89.4%",
    logo: {
      url: "https://no1cochin.kvs.ac.in/",
      src: "/assets/logos/kvs.svg",
      alt: "Kendriya Vidyalaya No.1 Kochi logo",
    },
  },
];
---

<ul>
  {
    items.map((item) => (
      <li>
        <a href={item.logo.url} target="_blank" rel="noopener noreferrer">
          {item.logo.src && (
            <img
              src={item.logo.src}
              alt={item.logo.alt}
                style="width: 4em; height: 4em; object-fit: contain; margin-right: 1em; float: left;"
            />
          )}
        </a>
        <span>
          <b>
            {item.institution} <span class="duration">{item.duration}</span>
          </b>
          <p>
            {item.degree}
            <br />
            {item.percentage ? (
              <span> Percentage: {item.percentage}</span>
            ) : null}
            <br />
          </p>
        </span>
      </li>
    ))
  }
</ul>

<style>
  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1em;
  }

  ul li .duration {
    float: right;
    margin-left: auto;
  }
  ul li p {
    margin: 0;
    padding: 0 0 0 1.5em;
    font-size: 0.75em;
  }
</style>
