---
const items = [
  {
    organization: "redBus",
    role: "Software Engineer",
    duration: "January 2025 - Present",
    logo: {
      url: "https://redbus.in",
      src: "https://s3.rdbuz.com/Images/rdc/rdc-redbus-logo.svg",
      alt: "redBus India logo",
    },
  },
];
---

<ul>
  {
    items.map((item) => (
      <li>
        <span>
          <a href={item.logo.url} target="_blank" rel="noopener noreferrer">
            <img
              src={item.logo.src}
              alt={item.logo.alt}
              style="width: 50px; height: auto; margin-right: 1em; float: left;"
            />
          </a>
          <b>
            {item.organization} <span class="duration">{item.duration}</span>
          </b>
          <p>{item.role}</p>
        </span>
      </li>
    ))
  }
</ul>

<style>
  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1em;
  }

  ul li .duration {
    float: right;
    margin-left: auto;
  }
  ul li p {
    margin: 0;
    padding: 0 0 0 1.5em;
    font-size: 0.75em;
  }

</style>
