---
import Pill from "./Pill.astro";
const { id, open, project } = Astro.props;
---

<!-- Modal -->
<div id=`${project.id}` class="overlay">
  <div class="popup">
    <a class="close" href="#">&times;</a>
    <h4>
      {project.title}
      {
        project.link ? (
          <a
            href={project.link}
            class="link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <br />
            <img
              src={`https://img.shields.io/badge/status-${
                project.completed ? "Completed" : "Development"
              }-${project.completed ? "green" : "red"}.svg`}
            />
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9"
                stroke="#666"
                stroke-width="3"
                fill="none"
              />
            </svg>
          </a>
        ) : (
          <>
            <br />
            <img
              src={`https://img.shields.io/badge/status-${
                project.completed ? "Completed" : "Development"
              }-${project.completed ? "green" : "red"}.svg`}
            />
          </>
        )
      }
    </h4>
    <div class="content">
      <p>
        {project.content}
      </p>
      <p>Last updated : {project.lastUpdated}</p>
    </div>
  </div>
</div>

<style>
  h4 {
    text-align: center;
    color: var(--gray-100);
  }
  .badge {
    margin: 20px 0 10px 0;
  }
  .link {
    text-decoration: none;
  }

  .overlay {
    z-index: 99999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--gray-999);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    .close {
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
      transition: all 200ms;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: var(--gray-100);
    }
    &:target {
      visibility: visible;
      opacity: 1;
    }
  }

  .popup {
    margin: 75px auto;
    padding: 20px;
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    background-color: var(--gray-999);
    box-shadow: var(--shadow-sm);
    width: 80%;
    max-width: 1000px;
    word-wrap: break-word;
  }
  .content {
    overflow-y: auto;
    padding: 0 5% 1em 5%;
  }
  p {
    margin: 0 0 1em;
    word-wrap: break-word;
    text-align: justify;
  }
  @media screen and (max-width: 700px) {
    .popup {
      max-width: 80vh;
    }
</style>
