---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { GoogleAnalytics } from "astro-google-analytics";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "Vignesh S Naik - Software Developer from Kochi, India",
  description = "Welcome to the personal website of Vignesh S Naik, a software developer. Explore projects, skills, and get in touch.",
} = Astro.props;
---

<html lang="en">
  <head>
    <GoogleAnalytics id="G-7FD9ZS8SH9" />
    <MainHead title={title} description={description} />
    <meta
      name="google-site-verification"
      content="3N6JgZLnGCzw7mTTLxFEOxhwKszDdRbq-3pY5HKw0Wk"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Vignesh S Naik" />
    <meta
      name="keywords"
      content="Vignesh S Naik, Software Developer, Portfolio, Computer Science, Programming, Web Development, React, Node.js, Express.js, Firebase, MongoDB, Astro, GitHub Projects, Algorithms, Data Structures, Blockchain, Smart Contracts, NFT, Airbnb Data Analysis, VizCode, ChainAsset, xTend, Zenith, Linux, Docker, Figma, Canva, API Development, Hackathon, Mechack, MEC Thrikkakara, Code Visualizer, Online Compiler, CI/CD, DevOps, Python, JavaScript, TypeScript, React developer portfolio, blockchain projects, smart contract developer, online compiler with Node.js, full-stack developer with MongoDB, data structures and algorithms expert, fintech app development, CI/CD pipelines, hackathon project showcase, API development in Express.js, interactive data visualizations"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vigneshsnaik.github.io" />
    <meta
      property="og:image"
      content="https://vigneshsnaik.github.io/assets/social-preview.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://vigneshsnaik.github.io/assets/social-preview.jpg"
    />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
          /*noise*/
          url("/assets/backgrounds/noise.png") top center/220px repeat,
          /*footer*/ var(--bg-image-footer) bottom
            center/var(--bg-gradient-size) no-repeat,
          /*header1*/ var(--bg-image-main-curves) top
            center/var(--bg-gradient-size) no-repeat,
          /*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size)
            no-repeat,
          /*base*/ var(--gray-999);
        background-blend-mode:
          /*noise*/
          overlay,
          /*footer*/ var(--bg-blend-mode),
          /*header1*/ var(--bg-svg-blend-mode),
          /*header2*/ normal,
          /*base*/ normal;
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
